* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --background-color: #1b6c9e;
  --font-color: rgb(255, 255, 255);
  /* --highlight-color: pink; */
  /* --h1-size: 20px;
  --h2-size: 15px;
  --h3-size: 10px;
  --small-padding: 5px; */
}

body {
  background-color: rgb(214, 237, 241);
  color: var(--font-color);
  font-weight: bolder;
}

header {
  display: block;
  margin:5% 43%;
  /* border: 10% solid black; */
  padding: 2% 1% 2% 2%;
  font-size: 3.5vw;
  color: white;
  background-color:#2494DA;
  border-radius: 150px;
  box-shadow: 5px 10px #1b6c9e;

}

/* this component contains all the added links  */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: solid rgba(255, 255, 255, 0.603);
  border-width: 1px 0 0 0;
  padding: var(--small-padding);
  font-size: var(--h2-size); */

  max-height: 270px;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 1vw;
  color:white;
  background-color:#84b5d3;
  border-radius: 15px;
  scrollbar-gutter: stable;
  margin: 0% 15% ;

}

/* this styles the scrollbar */

.container::-webkit-scrollbar {
  width: 5px;
}

.container::-webkit-scrollbar-track {
  background-color: #646464;
}

.container::-webkit-scrollbar-thumb {
  background-color: #d6d6d6;
  border-radius: 100px;
  height: 20px;
}

/* the actual link element  */

.link {
  padding: 0.5rem;
  background-color: var(--font-color);
  margin: 5px 0;

  border-radius: 5px;
}

.link > a {
  text-decoration: none;
  color: var(--background-color);
}

/* this component contains the input and add button  */

.addLink {
  margin: 1.5% 15% ;
  padding: var(--small-padding);
  display: flex;
  gap: 5px;

}

input {
  padding: 5px;
  border-radius: 5px;
}

.newLink {
  flex: 8;
  background-color: rgb(255, 255, 255);
  border: none;
}

input:focus {
  outline: 0.5px solid var(--highlight-color);
}

input[type="submit"] {
  color: var(--background-color);
  font-weight: bolder;
  background-color: white;
  border: none;
}

input[type="submit"]:active {
  background-color: grey;
}
