* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
 new-css-layout
  --background-color: '#000000';
  --font-color: '#ffffff';

/*   --background-color: rgb(43, 43, 43);
  --font-color: rgb(255, 255, 255);
  --highlight-color: pink; */

  --h1-size: 20px;
  --h2-size: 15px;
  --h3-size: 10px;
  --small-padding: 5px;
}


body {
  background-color: var(--background-color);
  color: var(--font-color);
  font-weight: bolder;
}
/* header section starts */

header {
  display: block;
  padding: var(--small-padding);
  font-size: var(--h1-size);
  font-family: 'Gill Sans';
}

img{
  padding-top: 8px;
  padding-left: 3px;
  width:26px;
  height:26px;
}

p{
  font-size:20px;
  font-weight: bold;
  font-family: 'Gill Sans';
/*
  font-size: var(--h2-size);
 */
}


/* this component contains all the added links  */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid rgba(255, 255, 255, 0.603);
  border-width: 1px 0 0 0;
  padding: var(--small-padding);
  font-size: var(--h2-size);

  max-height: 270px;
  overflow-y: auto;
  overflow-x: hidden;

  scrollbar-gutter: stable;
}

/* this styles the scrollbar */

.container::-webkit-scrollbar {
  width: 5px;
}

.container::-webkit-scrollbar-track {
  background-color: #646464;
}

.container::-webkit-scrollbar-thumb {
  background-color: #d6d6d6;
  border-radius: 100px;
  height: 20px;
}

/* the actual link element  */
.info{
  padding: 0.5rem;
  background-color: #000000;
  margin: 5px 0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 5px;
}

.info > a {
  text-decoration: none;
  color: #ffffff;
}

.link {
  padding: 0.5rem;
  background-color: #FFFFFF;
  margin: 5px 0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 5px;
}

.link > a {
  text-decoration: none;
  color: #000000;
}

/* this component contains the input and add button  */

.addLink {
  padding: var(--small-padding);
  display: flex;
  gap: 5px;
}

input {
  padding: 5px;
  border-radius: 5px;
  border-radius: 25px;
}

.newLink {
  flex: 8;
  background-color: #FFFFFF;
  color:#000000;
  border-radius: 2px;
  border: 2px solid #000000;
  border-radius: 25px;
  }

input:focus {
  outline: 0.5px solid var(--highlight-color);
}

input[type="submit"] {
  color: #000000;
  font-weight: bolder;
  border: 2px solid #000000;
}

input[type="submit"]:active {
  background-color: grey;
}

/*  dark mode part */

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 18px;
}


.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 14px;
  left: 0px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

